<footer class="footer mt-auto">
    <div class="container-fluid d-flex justify-content-between">
        <span class="text-muted d-block text-center text-sm-start d-sm-inline-block">Presented by Team 1, TI-216 group</span>
        <span class="float-none float-sm-end mt-1 mt-sm-0 text-end"> <a> MRSTW project</a> </span>
    </div>
</footer>