@{
    ViewBag.Title = "Electronics Shop";
    Layout = "~/Areas/Store/Views/Shared/_Layout.cshtml";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .content-wrapper {
        max-width: 1300px;
        margin: 0 auto;
        padding: 20px;
        border-radius: 10px;
        background-color: #ffffff;
    }
</style>

<div class="content-wrapper" style="margin-top: 60px">
    
</div>
