@{
    ViewBag.Title = "Electronics Shop";
    Layout = "~/Areas/Store/Views/Shared/_Layout.cshtml";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <h1>Welcome to our store!</h1>
    
</div>
