@{
    ViewBag.Title = "Electronics Shop";
    Layout = "~/Areas/Store/Views/Shared/_Layout.cshtml";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .banner-wrapper {
        background-color: #1f1831;
        padding-left: 0px;
        margin-top:0px;
      
    }
</style>

<body>
    <div class="container-scroller">
        <div class="banner-wrapper">
            <div class="container">
                <div class="row">

                </div>
                <div class="row py-sm-5 py-0">
                    <div class="col-lg-7 banner-content">
                        <h1 class="me-2 text-white"> WELCOME </h1>
                        <h3 class="font-weight-light text-white pt-2 pb-5"> Star Admin Template </h3>
                        <div class="my-5">
                            <button class="btn btn-primary btn-lg me-2 mb-3" href="">Shop</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section id="new-products">
            <h3 class="section-heading">NEW PRODUCTS</h3>
            <div class="product-container">
                <div class="product-card" href="#">
                    <img src="https://darwin.md/images/product/thumbs/2022/11/laptop-apple-macbook-air-13-2020-mgn63ru-a-rus-space-gray-026.webp" alt="Product 1">
                    <h3>Product 1</h3>
                    <p>$99.99</p>
                    <button class="buy-button">Buy Now</button>
                </div>
                <div class="product-card" href="#">
                    <img src="https://darwin.md/images/product/thumbs/2023/02/darwin-laptop-asus-rog-strix-scar-17-g733zw-off-black-207702.webp" alt="Product 2">
                    <h3>Product 2</h3>
                    <p>$149.99</p>
                    <button class="buy-button">Buy Now</button>
                </div>
                <div class="product-card" href="#">
                    <img src="https://darwin.md/images/product/thumbs/2023/02/darwin-laptop-asus-rog-strix-scar-17-g733zw-off-black-207702.webp" alt="Product 2">
                    <h3>Product 3</h3>
                    <p>$149.99</p>
                    <button class="buy-button">Buy Now</button>
                </div>
                <div class="product-card">
                    <img src="https://darwin.md/images/product/thumbs/2023/02/darwin-laptop-asus-rog-strix-scar-17-g733zw-off-black-207702.webp" alt="Product 2">
                    <h3>Product 4</h3>
                    <p>$149.99</p>
                    <button class="buy-button">Buy Now</button>
                </div>
            </div>
        </section>

        <section id="sale">
            <h2 class="section-heading">SALE</h2>
            <div class="product-container">
                <div class="product-card">
                    <img src="https://darwin.md/images/product/thumbs/2023/03/darwin-apple-iphone-14-plus-6-gb-512-gb-yellow-214340.webp" alt="Product 3">
                    <h3>Product 1</h3>
                    <p>$79.99</p>
                    <button class="buy-button">Buy Now</button>
                </div>
                <div class="product-card">
                    <img src="https://darwin.md/images/product/thumbs/2022/09/darwin-apple-iphone-14-pro-6-gb-128-gb-dual-sim-space-black-049.webp" alt="Product 4">
                    <h3>Product 2</h3>
                    <p>$199.99</p>
                    <button class="buy-button">Buy Now</button>
                </div>
                <div class="product-card">
                    <img src="https://darwin.md/images/product/thumbs/2022/09/darwin-apple-iphone-14-pro-6-gb-128-gb-dual-sim-space-black-049.webp" alt="Product 4">
                    <h3>Product 3</h3>
                    <p>$199.99</p>
                    <button class="buy-button">Buy Now</button>
                </div>
                <div class="product-card">
                    <img src="https://darwin.md/images/product/thumbs/2022/09/darwin-apple-iphone-14-pro-6-gb-128-gb-dual-sim-space-black-049.webp" alt="Product 4">
                    <h3>Product 4</h3>
                    <p>$199.99</p>
                    <button class="buy-button">Buy Now</button>
                </div>
            </div>

        </section>
        <footer class="footer mt-auto">
            <div class="container-fluid d-flex justify-content-between">
                <span class="text-muted d-block text-center text-sm-start d-sm-inline-block">Presented by Team 1, TI-216 group</span>
                <span class="float-none float-sm-end mt-1 mt-sm-0 text-end"> <a> MRSTW project</a> </span>
            </div>
        </footer>

        <style>

            /* CSS styles for the template */
            body {
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                padding: 0;
            }

            header {
                text-align: center;
                background-color: #f1f1f1;
                padding: 20px;
            }

            h1 {
                font-size: 70px;
                font-weight: bold;
                font-family: sans-serif;
                color: #fff;
                margin-bottom: 0px;
                margin-top: 150px;
                margin-left: 10px;
            }

                h1:hover {
                    color: #023;
                    margin-bottom: 0px;
                    transition: all ease-in-out 0.3s;
                    transform: translateX(10px);
                    transform: scale(1.025);
                }

            p {
                color: #777;
                text-align: match-parent;
            }



            .section-heading {
                text-align: center;
                margin-top: 30px;
                padding: 10px 0;
            }

            .product-container {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                margin: 20px;
            }

            .product-card {
                width: 250px;
                padding: 10px;
                margin: 5px;
                text-align: center;
                background-color: #f9f9f9;
                border-radius: 5px;
                border: 1px solid #ccc;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            }

                .product-card:hover {
                    transform: scale(1.1);
                    transition: ease-in-out 0.3s;
                }

                .product-card img {
                    width: 100%;
                    height: auto;
                }

                .product-card h3 {
                    margin-top: 10px;
                }

            .buy-button {
                display: inline-block;
                padding: 8px 16px;
                font-size: 14px;
                font-weight: bold;
                text-align: center;
                text-decoration: none;
                background-color: #4CAF50;
                color: #fff;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                transition: background-color 0.3s ease;
            }


                .buy-button:hover {
                    background-color: #fff;
                    color: #4CAF50;
                    border-color: black;
                }

            .sale .old-price {
                text-decoration: line-through;
                color: #999;
                margin-left: 5px;
            }

            .banner {
                position: relative;
            }

                .banner img {
                    position: relative;
                    width: 100%;
                    height: auto;
                }

            .banner-overlay {
                position: absolute;
                top: 10;
                left: 0;
                right: 0;
                bottom: 0;
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                color: #fff;
                padding: 20px;
                text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
                text-align: center;
            }

                .banner-overlay:hover {
                    transition: all ease-in-out 0.3s;
                }

            .banner-text {
                max-width: 800px;
                text-align: center;
            }

            .banner-overlay h1 {
                font-size: 90px;
                margin-bottom: 10px;
                font-weight: bolder;
                letter-spacing: 2px;
            }

            .banner-overlay p {
                font-size: 18px;
                font-weight: 300;
            }
        </style>

