@{
    ViewBag.Title = "Orders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <div class="page-header">
        <h3 class="page-title"> Orders </h3>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Sample pages</a></li>
                <li class="breadcrumb-item active" aria-current="page">Orders</li>
            </ol>
        </nav>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Orders</h4>
                    <div class="row grid-margin">
                        
                    </div>
                    <div class="row overflow-auto">
                        <div class="col-12">
                            <div id="order-listing_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                                <div class="row">
                                     <div class="col-sm-12 col-md-6">
                                        <div id="order-listing_filter" class="dataTables_filter">
                                            <label><input type="search" class="form-control" placeholder="Search" aria-controls="order-listing"></label>
                                          </div>
                                      </div>
                                    </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <table id="order-listing" class="table dataTable no-footer" cellspacing="0" width="100%" aria-describedby="order-listing_info" style="width: 100%;">
                                            <thead>
                                                <tr class="bg-primary text-white"><th class="sorting sorting_asc" tabindex="0" aria-controls="order-listing" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Order #: activate to sort column descending" style="width: 69px;">Order #</th><th class="sorting" tabindex="0" aria-controls="order-listing" rowspan="1" colspan="1" aria-label="Customer: activate to sort column ascending" style="width: 83px;">Customer</th><th class="sorting" tabindex="0" aria-controls="order-listing" rowspan="1" colspan="1" aria-label="Ship to: activate to sort column ascending" style="width: 81px;">Ship to</th><th class="sorting" tabindex="0" aria-controls="order-listing" rowspan="1" colspan="1" aria-label="Base Price: activate to sort column ascending" style="width: 87px;">Base Price</th><th class="sorting" tabindex="0" aria-controls="order-listing" rowspan="1" colspan="1" aria-label="Purchased Price: activate to sort column ascending" style="width: 131px;">Purchased Price</th><th class="sorting" tabindex="0" aria-controls="order-listing" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending" style="width: 75px;">Status</th><th class="sorting" tabindex="0" aria-controls="order-listing" rowspan="1" colspan="1" aria-label="Actions: activate to sort column ascending" style="width: 220px;">Actions</th></tr>
                                            </thead>
                                            <tbody>




















                                                <tr class="odd">
                                                    <td class="sorting_1">WD-61</td>
                                                    <td>Edinburgh</td>
                                                    <td>New York</td>
                                                    <td>$1500</td>
                                                    <td>$3200</td>
                                                    <td>
                                                        <label class="badge badge-info">On hold</label>
                                                    </td>
                                                    <td class="text-right">
                                                        <button class="btn btn-light">
                                                            <i class="mdi mdi-eye text-primary"></i>View
                                                        </button>
                                                        <button class="btn btn-light">
                                                            <i class="mdi mdi-close text-danger"></i>Remove
                                                        </button>
                                                    </td>
                                                </tr>
                                                <tr class="even">
                                                    <td class="sorting_1">WD-62</td>
                                                    <td>Doe</td>
                                                    <td>Brazil</td>
                                                    <td>$4500</td>
                                                    <td>$7500</td>
                                                    <td>
                                                        <label class="badge badge-danger">Pending</label>
                                                    </td>
                                                    <td class="text-right">
                                                        <button class="btn btn-light">
                                                            <i class="mdi mdi-eye text-primary"></i>View
                                                        </button>
                                                        <button class="btn btn-light">
                                                            <i class="mdi mdi-close text-danger"></i>Remove
                                                        </button>
                                                    </td>
                                                </tr>
                                                <tr class="odd">
                                                    <td class="sorting_1">WD-63</td>
                                                    <td>Sam</td>
                                                    <td>Tokyo</td>
                                                    <td>$2100</td>
                                                    <td>$6300</td>
                                                    <td>
                                                        <label class="badge badge-success">Closed</label>
                                                    </td>
                                                    <td class="text-right">
                                                        <button class="btn btn-light">
                                                            <i class="mdi mdi-eye text-primary"></i>View
                                                        </button>
                                                        <button class="btn btn-light">
                                                            <i class="mdi mdi-close text-danger"></i>Remove
                                                        </button>
                                                    </td>
                                                </tr>
                                                <tr class="even">
                                                    <td class="sorting_1">WD-64</td>
                                                    <td>Joe</td>
                                                    <td>Netherland</td>
                                                    <td>$1100</td>
                                                    <td>$7300</td>
                                                    <td>
                                                        <label class="badge badge-warning">Open</label>
                                                    </td>
                                                    <td class="text-right">
                                                        <button class="btn btn-light">
                                                            <i class="mdi mdi-eye text-primary"></i>View
                                                        </button>
                                                        <button class="btn btn-light">
                                                            <i class="mdi mdi-close text-danger"></i>Remove
                                                        </button>
                                                    </td>
                                                </tr>
                                                <tr class="odd">
                                                    <td class="sorting_1">WD-65</td>
                                                    <td>Edward</td>
                                                    <td>Indonesia</td>
                                                    <td>$3600</td>
                                                    <td>$4800</td>
                                                    <td>
                                                        <label class="badge badge-success">Closed</label>
                                                    </td>
                                                    <td class="text-right">
                                                        <button class="btn btn-light">
                                                            <i class="mdi mdi-eye text-primary"></i>View
                                                        </button>
                                                        <button class="btn btn-light">
                                                            <i class="mdi mdi-close text-danger"></i>Remove
                                                        </button>
                                                    </td>
                                                </tr>
                                                <tr class="even">
                                                    <td class="sorting_1">WD-66</td>
                                                    <td>Stella</td>
                                                    <td>Japan</td>
                                                    <td>$5600</td>
                                                    <td>$3600</td>
                                                    <td>
                                                        <label class="badge badge-info">On hold</label>
                                                    </td>
                                                    <td class="text-right">
                                                        <button class="btn btn-light">
                                                            <i class="mdi mdi-eye text-primary"></i>View
                                                        </button>
                                                        <button class="btn btn-light">
                                                            <i class="mdi mdi-close text-danger"></i>Remove
                                                        </button>
                                                    </td>
                                                </tr>
                                                <tr class="odd">
                                                    <td class="sorting_1">WD-67</td>
                                                    <td>Jaqueline</td>
                                                    <td>Germany</td>
                                                    <td>$1100</td>
                                                    <td>$6300</td>
                                                    <td>
                                                        <label class="badge badge-success">Closed</label>
                                                    </td>
                                                    <td class="text-right">
                                                        <button class="btn btn-light">
                                                            <i class="mdi mdi-eye text-primary"></i>View
                                                        </button>
                                                        <button class="btn btn-light">
                                                            <i class="mdi mdi-close text-danger"></i>Remove
                                                        </button>
                                                    </td>
                                                </tr>
                                                <tr class="even">
                                                    <td class="sorting_1">WD-68</td>
                                                    <td>Tim</td>
                                                    <td>Italy</td>
                                                    <td>$6300</td>
                                                    <td>$2100</td>
                                                    <td>
                                                        <label class="badge badge-warning">Open</label>
                                                    </td>
                                                    <td class="text-right">
                                                        <button class="btn btn-light">
                                                            <i class="mdi mdi-eye text-primary"></i>View
                                                        </button>
                                                        <button class="btn btn-light">
                                                            <i class="mdi mdi-close text-danger"></i>Remove
                                                        </button>
                                                    </td>
                                                </tr>
                                                <tr class="odd">
                                                    <td class="sorting_1">WD-69</td>
                                                    <td>John</td>
                                                    <td>Tokyo</td>
                                                    <td>$2100</td>
                                                    <td>$6300</td>
                                                    <td>
                                                        <label class="badge badge-success">Closed</label>
                                                    </td>
                                                    <td class="text-right">
                                                        <button class="btn btn-light">
                                                            <i class="mdi mdi-eye text-primary"></i>View
                                                        </button>
                                                        <button class="btn btn-light">
                                                            <i class="mdi mdi-close text-danger"></i>Remove
                                                        </button>
                                                    </td>
                                                </tr>
                                                <tr class="even">
                                                    <td class="sorting_1">WD-70</td>
                                                    <td>Tom</td>
                                                    <td>Germany</td>
                                                    <td>$1100</td>
                                                    <td>$2300</td>
                                                    <td>
                                                        <label class="badge badge-danger">Pending</label>
                                                    </td>
                                                    <td class="text-right">
                                                        <button class="btn btn-light">
                                                            <i class="mdi mdi-eye text-primary"></i>View
                                                        </button>
                                                        <button class="btn btn-light">
                                                            <i class="mdi mdi-close text-danger"></i>Remove
                                                        </button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div><div class="row"><div class="col-sm-12 col-md-5"><div class="dataTables_info" id="order-listing_info" role="status" aria-live="polite">Showing 1 to 10 of 20 entries</div></div><div class="col-sm-12 col-md-7"><div class="dataTables_paginate paging_simple_numbers" id="order-listing_paginate"><ul class="pagination"><li class="paginate_button page-item previous disabled" id="order-listing_previous"><a href="#" aria-controls="order-listing" data-dt-idx="0" tabindex="0" class="page-link">Previous</a></li><li class="paginate_button page-item active"><a href="#" aria-controls="order-listing" data-dt-idx="1" tabindex="0" class="page-link">1</a></li><li class="paginate_button page-item "><a href="#" aria-controls="order-listing" data-dt-idx="2" tabindex="0" class="page-link">2</a></li><li class="paginate_button page-item next" id="order-listing_next"><a href="#" aria-controls="order-listing" data-dt-idx="3" tabindex="0" class="page-link">Next</a></li></ul></div></div></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>