@using ElectronicsShop.Data.Repositories;
@using ElectronicsShop.Domain.Entities;
@using ElectronicsShop.Data.Contexts
@using ElectronicsShop.BusinessLogic.Services


@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var currentUserService = (ICurrentUserService)HttpContext.Current.Application["ICurrentUserService"];
    var currentUserName = currentUserService.GetCurrentUserName();
}
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Purple Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="../../../Content/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../../../Content/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="../../../Content/vendors/jquery-bar-rating/css-stars.css">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="../../../Content/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="../../../Content/images/favicon.png" />
</head>
<div class="content-wrapper">
    <div class="page-header">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("Users", "Users", new { area = "Store", returnUrl = Request.Path })">Users</a></li>
                <li class="breadcrumb-item active" aria-current="page">Profile</li>
            </ol>
        </nav>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="border-bottom text-center pb-4">
                                <img src="../../../Content/images/faces/face12.jpg" alt="profile" class="img-lg rounded-circle mb-3">



                            </div>

                            <div class="border-bottom py-4">
                                <h4>Role</h4>
                                <p class="badge badge-gradient-success">Admin</p>
                                <h2>Skills</h2>
                                <div>
                                    <label class="badge badge-outline-dark">HTML</label>
                                    <label class="badge badge-outline-dark">CSS</label>
                                    <label class="badge badge-outline-dark">React</label>
                                    <label class="badge badge-outline-dark">Web Design</label>
                                    <label class="badge badge-outline-dark">Front-end</label>
                                </div>
                            </div>



                        </div>

                        <div class="col-lg-8">
                            <div class="d-flex justify-content-between">
                                <div>
                                    <h3>
                                        <div class="current-user">
                                            @if (currentUserName != null)
                                            {
                                                @currentUserName
                                            }
                                            else
                                            {
                                                <p>Not logged in</p>
                                            }
                                        </div>
                                        <h5 class="mb-0 me-2 text-muted">Moldova</h5>
                                    </h3>
                                    <div class="d-flex align-items-center">
                                        
                                        <select id="profile-rating" name="rating" autocomplete="on">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                        </select>
                                    </div>
                                </div>
                                <div>
                                    
                                    <button class="btn btn-gradient-primary">Edit</button>
                                </div>
                            </div>
                            <div class="mt-4 py-2 border-top border-bottom">
                                <ul class="nav profile-navbar">
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">
                                            <i class="mdi mdi-account-outline"></i> Orders
                                        </a>
                                    </li>
                                   
                                </ul>
                            </div>
                            
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>


    </div>
</div>

<script src="../../../Content/vendors/js/vendor.bundle.base.js"></script>
<!-- endinject -->
<!-- Plugin js for this page -->
<script src="../../../Content/vendors/jquery-bar-rating/jquery.barrating.min.js"></script>
<!-- End plugin js for this page -->
<!-- inject:js -->
<script src="../../../Content/js/off-canvas.js"></script>
<script src="../../../Content/js/hoverable-collapse.js"></script>
<script src="../../../Content/js/misc.js"></script>
<script src="../../../Content/js/settings.js"></script>
<script src="../../../Content/js/todolist.js"></script>
<script src="../../../Content/js/jquery.cookie.js"></script>
<!-- endinject -->
<!-- Custom js for this page -->
<script src="../../../Content/js/profile-demo.js"></script>
<!-- End custom js for this page -->
</body>