@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="~/Content/vendors/mdi/css/materialdesignicons.min.css"">
    <link rel="stylesheet" href="~/Content/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="~/Content/css/style.css">
    <link rel="shortcut icon" href="~/Content/images/favicon.ico">
</head>

<html>

<ul class="nav nav-pills nav-pills-success">
    <li class="nav-item">
        <a class="nav-link active" href="#">Laptops</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("ProdBrowserDesktops", "ProdBrowser")">Desktops</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("ProdBrowserPhones", "ProdBrowser")">Phones</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("ProdBrowserOthers", "ProdBrowser")">Accesories</a>
    </li>
</ul>
<div class="card">
    <div class="card-body">
        <div class="product-nav-wrapper row">
        </div>
        <div class="row product-item-wrapper">
            <div class="col-lg-4 col-md-6 col-sm-6 col-12 product-item">
                <div class="card">
                    <div class="card-body">
                        <div class="product-img-outer">
                            <a href="*">
                                <img class="product_image" src="https://darwin.md/images/product/2023/03/laptop-apple-macbook-pro-16-2023-z174000gu-rus-space-gray-218486.webp" alt="prduct image">
                            </a>
                        </div>
                        <a href="*">
                            <p class="product-title">Laptop1</p>
                            </a>
                            <p class="product-price">$399.00</p>
                            <p class="product-description"> description</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-12 product-item">
                <div class="card">
                    <div class="card-body">
                        <div class="product-img-outer">
                            <a href="*">
                                <img class="product_image" src="https://darwin.md/images/product/thumbs/2022/11/laptop-apple-macbook-air-13-2020-mgn63ru-a-rus-space-gray-026.webp" alt="prduct image">
                            </a>
                        </div>
                        <a href="*">
                            <p class="product-title">Laptop2</p>
                            </a>
                            <p class="product-price">$799.00</p>
                            <p class="product-description">description</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-12 product-item">
                <div class="card">
                    <div class="card-body">
                        <div class="product-img-outer">
                            <a href="*">
                                <img class="product_image" src="https://darwin.md/images/product/thumbs/2021/12/darwin-laptop-lenovo-ideapad-gaming-3-shadow-black-092.webp" alt="prduct image">
                            </a>
                        </div>
                        <a href="*">
                            <p class="product-title">Laptop3</p>
                            </a>
                            <p class="product-price">$199.00</p>
                            <p class="product-description">description</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-12 product-item">
                <div class="card">
                    <div class="card-body">
                        <div class="product-img-outer">
                            <a href="*">
                                <img class="product_image" src="https://darwin.md/images/product/thumbs/2022/06/darwin-laptop-lenovo-ideapad-3-15ada05-gray-016.webp" alt="prduct image">
                            </a>
                        </div>
                        <a href="*">
                            <p class="product-title">Laptop4</p>
                            </a>
                            <p class="product-price">$745.00</p>
                            <p class="product-description">description</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-12 product-item">
                <div class="card">
                    <div class="card-body">
                        <div class="product-img-outer">
                            <a href="*">
                                <img class="product_image" src="https://darwin.md/images/product/thumbs/2022/06/darwin-laptop-apple-macbook-pro-13-2020-mxk62ua-a-rus-silver-062.webp" alt="prduct image">
                            </a>
                        </div>
                        <a href="*">
                            <p class="product-title">Laptop5</p>
                            </a>
                            <p class="product-price">$799.00</p>
                            <p class="product-description">description</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-12 product-item">
                <div class="card">
                    <div class="card-body">

                        <div class="product-img-outer">
                            <a href="*">
                                <img class="product_image" src="https://darwin.md/images/product/thumbs/2022/09/darwin-laptop-hp-pavilion-15-ec2078ur-shadow-black-044.webp" alt="prduct image">
                            </a>
                        </div>
                        <a href="*">
                            <p class="product-title">Laptop6</p>
                            </a>
                            <p class="product-price">$129.00</p>
                            <p class="product-description">description</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-12 product-item">
                <div class="card">
                    <div class="card-body">
                        <div class="product-img-outer">
                            <a href="*">
                                <img class="product_image" src="https://darwin.md/images/product/thumbs/2022/12/darwin-laptop-asus-e410ma-star-black-067.webp" alt="prduct image">
                            </a>
                        </div>
                        <a href="*">
                            <p class="product-title">Laptop7</p>
                            </a>
                            <p class="product-price">$329.00</p>
                            <p class="product-description">description</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-12 product-item">
                <div class="card">
                    <div class="card-body">

                        <div class="product-img-outer">
                            <a href="*">
                                <img class="product_image" src="https://darwin.md/images/product/thumbs/2022/08/darwin-laptop-lenovo-legion-5-pro-16ach6h-storm-gray-017.webp" alt="prduct image">
                            </a>
                        </div>
                        <a href="*">
                            <p class="product-title">Laptop8</p>
                            </a>
                            <p class="product-price">$289.00</p>
                            <p class="product-description">description</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-12 product-item">
                <div class="card">
                    <div class="card-body">
                        <div class="product-img-outer">
                            <a href="*">
                                <img class="product_image" src="https://darwin.md/images/product/thumbs/2022/04/darwin-laptop-asus-rog-strix-g15-g513rm-eclipse-gray-012.webp" alt="prduct image">
                            </a>
                        </div>
                        <a href="*">
                            <p class="product-title">Laptop9</p>
                            </a>
                            <p class="product-price">$399.00</p>
                            <p class="product-description">description</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-12 product-item">
                <div class="card">
                    <div class="card-body">

                        <div class="product-img-outer">
                            <a href="*">
                                <img class="product_image" src="https://darwin.md/images/product/thumbs/2022/06/darwin-laptop-apple-macbook-pro-13-2020-mwp82ua-a-silver-075.webp" alt="prduct image">
                            </a>
                        </div>
                        <a href="*">
                            <p class="product-title">Laptop10</p>
                            </a>
                            <p class="product-price">$299.00</p>
                            <p class="product-description">description</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-12 product-item">
                <div class="card">
                    <div class="card-body">
                        <div class="product-img-outer">
                            <a href="*">
                                <img class="product_image" src="https://darwin.md/images/product/thumbs/2022/03/darwin-laptop-asus-tuf-dash-f15-fx516pc-eclipse-gray-035.webp" alt="prduct image">
                            </a>
                        </div>
                        <a href="*">
                            <p class="product-title">Laptop11</p>
                            </a>
                            <p class="product-price">$99.00</p>
                            <p class="product-description">description</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-12 product-item">
                <div class="card">
                    <div class="card-body">
                        <div class="product-img-outer">
                            <a href="*">
                                <img class="product_image" src="https://darwin.md/images/product/thumbs/2023/01/laptop-apple-macbook-air-136-2022-mly33ru-a-rus-midnight-030.webp" alt="prduct image">
                            </a>
                        </div>
                        <a href="*">
                            <p class="product-title">Laptop12</p>
                            </a>
                            <p class="product-price">$999.00</p>
                            <p class="product-description">description</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .product_image {
        width: 200px;
        height: auto;
    }

    .product-title {
        font-size: 1.1em;
        font-weight: bold;
    }
    a {
        color: #333; 
        text-decoration: none;
    }
    .nav-pills .nav-link {
        background: linear-gradient(to right, rgba(163, 10, 236, 0.3), rgba(0, 0, 0, 0.1));
        color: rgba(0, 0, 0, 0.8); 
        border: none; 
        border-radius: 20px; 
        padding: 10px 20px; 
        transition: background-color 0.3s ease;
    }

        .nav-pills .nav-link:hover {
            background: rgba(163, 10, 236, 0.6);
            color: white;
        }

        .nav-pills .nav-link.active {
            background: rgba(163, 10, 236, 0.9);
            color: white;
        }
    .nav-pills .nav-item {
        margin-right: 5px;
    }

</style>
<script src="../../../assets/vendors/js/vendor.bundle.base.js"></script>
<script src="../../../assets/js/off-canvas.js"></script>
<script src="../../../assets/js/misc.js"></script>
<script src="../../../assets/js/jquery.cookie.js"></script>
</html>